@use '../../abstracts' as a;

.card {
    width: 100%;
    min-width: 335px;
    height: 140px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid a.$main-light;
    border-radius: 5px;
    cursor: pointer;

    @media (min-width: a.$tablet) {
        min-width: 230px;
        max-width: 30%;
        height: 120px;

        background-color: white;
    }

    @media (min-width: a.$desktop) {
        max-width: 270px;
    }
}
