@use '../../abstracts' as a;

.card {
    min-width: 335px;
    width: 100%;
    height: 140px;
    border: 1px solid a.$main-light;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media (min-width: 768px) {
        min-width: 229px;
        max-width: 270px;
        height: 120px;
        width: 229px;
        background-color: white;
    }
}
