@use '../../abstracts' as a;

.partners {
    &__title {
        margin-top: 70px;
    }
    &__cards-container {
        margin-top: 30px;

        display: flex;
        flex-wrap: wrap;
        row-gap: a.$default-indent;
        @media (min-width: a.$tablet) {
            justify-content: space-between;
        }
        @media (min-width: a.$desktop) {
            justify-content: flex-start;
            gap: 30px;
        }
    }

    &__card {
        min-width: 335px;
        height: 140px;
        border-width: 1px;
        border-radius: 5px;
        @media (min-width: a.$tablet) {
            min-width: 230px;
            max-width: 30%;
            height: 120px;
        }
        @media (min-width: a.$desktop) {
            max-width: 270px;
        }
    }
}
