@use '../../abstracts' as a;

.partners {
    &__title {
        font-size: 2em;
    }
    &__cards-container {
        display: flex;
        flex-wrap: wrap;
        row-gap: a.$default-indent;

        margin-top: 300px;

        @media (min-width: a.$tablet) {
            justify-content: space-between;
        }

        @media (min-width: a.$desktop) {
            justify-content: flex-start;
            gap: 30px;
        }
    }
}
