@use '../../abstracts/index' as a;

.header {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);

    &__logo {
        order: 1;
    }

    &__profile {
        order: 2;
    }

    &__search-form {
        order: 3;
    }

    @media (min-width: a.$tablet) {
        display: flex;
        justify-content: center;

        &__profile {
            order: 3;
        }

        &__search-form {
            order: 2;
            flex-grow: 100;
        }
        // По макетку непонятно, к какому блоку логически относится
        &:after {
            content: '';
            display: block;
            position: relative;
            right: 167px;
            height: 80px;
            width: 1px;
            background: a.$main-light;
        }
    }

    &__wrapper {
        padding: 20px 20px 0px 20px;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (min-width: a.$tablet) {
            flex: 1;
            min-width: 728px;
            max-width: 1170px;
            padding: 20px 0px;
            margin: 0px 20px;
            flex-wrap: nowrap;
            gap: 40px;
            // flex-grow: 2;
        }
        @media (min-width: a.$desktop) {
            // min-width: 1170px;
        }
    }

    &__logo {
        max-width: 40px;
        max-height: 40px;
    }

    &__search-form {
        margin-top: 16px;

        @media (max-width: calc(a.$tablet - 1px)) {
            //The line also forces search-form to wrap to next line
            &:before {
                content: '';
                display: block;
                position: relative;
                left: -20px;
                width: 100vw;
                height: 1px;
                background: #bbc4d6;
            }
        }
    }

    &__profile {
    }
}
