*,
*::before,
*::after {
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    font: inherit;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
