@use '../../abstracts/index' as a;

.profile {
    &__icon {
        @media (min-width: a.$tablet) {
            display: none;
        }
    }

    &__extended {
        // margin-left: 19px;

        display: none;
        height: 100%;

        @media (min-width: a.$tablet) {
            display: flex;
            align-content: center;
            justify-content: space-between;
        }
    }

    &__name {
        margin-right: 10px;
        display: flex;
        align-items: center;

        font-size: a.$font-size-regular;
        font-weight: a.$font-weight-regular;
        line-height: 120%;
        color: a.$main-light-darker;
    }

    &__link {
        text-decoration: none;
    }

    &__avatar {
        width: 40px;
        height: 40px;
    }
}
