@use '../../abstracts/index' as a;

.profile {
    &__icon {
        @media (min-width: a.$tablet) {
            display: none;
        }
    }

    &__extended {
        display: none;
        height: 100%;

        @media (min-width: a.$tablet) {
            display: flex;
            align-content: center;
            justify-content: space-between;
        }
    }

    &__name {
        font-size: a.$font-size-regular;
        font-weight: a.$font-weight-regular;
        line-height: 120%;
        color: a.$main-light-darker;
        display: flex;
        align-items: center;
        padding-left: 19px;
        border-left: 1px solid a.$main-light;
    }

    &__avatar {
        margin-left: 10px;
        width: 40px;
        height: 40px;
    }
}
