// Imports
@use './common.blocks/card/card.scss';
@use './common.blocks/partners/partners.scss';
@use './common.blocks/search-form/search-form.scss';
@use './abstracts/' as c;

/* Defaults reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    font: inherit;
}

img {
    max-width: 100%;
    display: block;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Global styles */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
    // background-color: c.$main-bg;
    background-color: red;
    display: flex;
    justify-content: center;
}

.wrapper {
    min-width: 335px;
    max-width: 1170px;
    margin: 0 20px 73px 20px;
    // margin-bottom: 73px;
}

// @media (min-width: 768px) {
//     .wrapper {
//         min-width: 230px;
//         background-color: green;
//     }
// }
