// Imports
@use './abstracts/reset.scss';
@use './common.blocks/card/card.scss';
@use './common.blocks/partners/partners.scss';
@use './common.blocks/search-form/search-form.scss';
@use './abstracts/' as c;

/* Global styles */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
    // background-color: c.$main-bg;
    background-color: red;
    display: flex;
    justify-content: center;
}

.wrapper {
    min-width: 335px;
    max-width: 1170px;
    margin: 0 20px 73px 20px;
}

// @media (min-width: 768px) {
//     .wrapper {
//         min-width: 230px;
//         background-color: green;
//     }
// }
