// Imports
@use './abstracts/' as a;
@use './common.blocks/' as b;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

// * {
//     border: 1px solid red;
// margin: 0px !important ;
// padding: 0px !important ;
// }

/* Global styles */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
    background-color: a.$main-bg;
    font-family: a.$main-font-family;
    // background-color: red;
    // display: flex;
    // align-items: center;
    // flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: center;
    min-width: a.$min-wrapper-width;
    max-width: a.$max-wrapper-width;
    margin: auto;
    margin: 0 20px 73px 20px;
    // margin-top: 0px;
    // margin-left: min(20px, 1000px);
    // margin-right: min(20px, 1000px);
    // margin-bottom: 73px;

    @media (min-width: calc(a.$max-wrapper-width + a.$default-indent * 2)) {
        margin: auto;
    }
    // margin: auto;
}

// @media (min-width: 768px) {
//     .wrapper {
//         min-width: 230px;
//         background-color: green;
//     }
// }
