// Imports
@use './abstracts/' as a;
@use './common.blocks/' as b;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Global styles */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
    background-color: a.$main-bg;
    font-family: a.$main-font-family;
}

.wrapper {
    min-width: a.$min-wrapper-width;
    max-width: a.$max-wrapper-width;
    margin: 0px a.$default-indent;

    @media (min-width: calc(a.$max-wrapper-width + a.$default-indent * 2)) {
        margin: 0px auto;
    }
}
