@use '../../abstracts/index' as a;

.search-form {
    max-width: 100%;
    line-height: 16px;
    color: a.$main-light-dark;
    font-size: a.$font-size-regular;
    font-weight: a.$font-weight-regular;

    &__input {
        width: 100%;
        margin-top: 12px;
        padding-left: 0px;
        //Magnifier icon size + 5px indent
        text-indent: 29px;

        font-size: 14px;
        font-weight: 400;

        border: none;

        @media (min-width: a.$tablet) {
            padding: 12px 10px 12px 10px;
            margin-top: 0px;

            border: 1px solid a.$main-light;
            border-radius: 5px;
        }

        &:placeholder-shown {
            background-image: url(../../Assets/search-icon.svg);
            background-position: left center;
            background-repeat: no-repeat;
            @media (min-width: a.$tablet) {
                background-position: 10px center;
            }
        }
    }
}
